.questions-container {
    padding: 15px;

    .title {
        margin-bottom: 15px;
        font-size: 20px;
        font-weight: 600;
    }


    .add-new-questions {
        .question-content {
            .more-actions {
                .label-upload {
                    cursor: pointer;
                    color: rgb(29 89 168);
                    font-size: 24px;

                    &:hover {
                        color: rgb(43 125 234);
                        transition: all 0.4s ease;
                    }
                }

                color: #212529;
                align-items: center;

                span {
                    margin: 0 5px;
                }
            }

            .btn-add-new-question {
                display: flex;

                gap: 10px;

                .icon-add {
                    color: green;
                    font-size: 24px;

                    &:hover {
                        cursor: pointer;
                    }
                }


                .icon-remove {
                    color: red;
                    font-size: 24px;

                    &:hover {
                        cursor: pointer;
                    }
                }
            }

            gap:25px;
            align-items: center;
        }

        .answer-content {
            gap: 10px;
            align-items: center;

            .answer {
                width: 100%;
            }

            .btn-add-new-question {
                display: flex;

                gap: 10px;

                .icon-add {
                    color: green;
                    font-size: 24px;

                    &:hover {
                        cursor: pointer;
                    }
                }


                .icon-remove {
                    color: red;
                    font-size: 24px;

                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }

    }
}