.admin-container {
    display: flex;

    .admin-sidebar {
        .pro-sidebar {
            height: 100vh !important;

            .pro-sidebar-header {
                cursor: pointer;
            }
        }
    }

    .admin-content {
        width: 100%;

        .admin-header {
            height: 40px;


            .btn-admin-header {
                margin: 10px;
                font-size: 20px;
            }
        }

    }
}