.admin-container {
    display: flex;

    .admin-sidebar {
        .pro-sidebar {
            height: 100vh !important;

            .pro-sidebar-header {
                cursor: pointer;
            }
        }
    }

    .admin-content {
        width: 100%;

        .admin-main {
            height: calc(100vh - 50px);
        }

        .admin-header {
            height: 60px;

            .right-side {
                text-align: center;
                width: 200px;
            }

            .btn-admin-header {
                margin: 15px;
                font-size: 20px;
                cursor: pointer;
            }
        }

    }
}